body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: url('./assets/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}

.box {
    background-color: rgba(46, 155, 206, 0.01);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    border: none;
    box-shadow: none;
}

.clock {
    grid-column: 1;
    grid-row: 1;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}

.container h2 {
    color: red;
}

.meteo {
    grid-column: 2;
    grid-row: 1;
    color: white;
}

.password {
    grid-column: 2;
    grid-row: 2;
    color: white;
}

.liens {
    grid-column: 1;
    grid-row: 2;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
#nameLink{
    width: 290px;
}
#link{
    width: 290px;
}
#btn1{
    width: 150px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    font-size: 25px;
    color: #333;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.clock h2, .meteo h2, .password h2, .liens h2 {
    color: white;
    padding-top: 10px;
}

.input-field {
    margin-bottom: 15px;
    width: 100%;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.submit, button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: grey;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit:hover, button:hover {
    background-color: #35449a;
    color: white;
}

#password {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: none;
    background-color: #ffffff;
}

.heures, .date, .message {
    font-size: 30px; 
    margin-bottom: 10px;
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        background: url('./assets/img/background.jpg') no-repeat center center fixed; /* Changer l'image pour les petits écrans */
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: auto;
        box-shadow: none;
        border: none;
    }
    
    .box {
        max-width: 100%;
        max-height: auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .heures, .date, .message {
        font-size: 26px; 
    }
    
    .submit, button {
        font-size: 14px;
        padding: 8px;
    }
    
    .input {
        font-size: 13px;
        padding: 8px;
    }
    
    .input-field {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        background: url('./assets/img/background.jpg') no-repeat center center fixed; /* Changer l'image pour les petits écrans */
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        height: auto;
        box-shadow: none;
        border: none;
    }
    
    .box {
        max-width: 100%;
        max-height: auto;
        padding: 10px;
        margin-bottom: 10px;
    
    }
    
    h2 {
        font-size: 18px;
    }
    
    .heures, .date, .message {
        font-size: 22px; 
    }
    
    .submit, button {
        font-size: 12px;
        padding: 6px;
    }
    
    .input {
        font-size: 12px;
        padding: 6px;
    }
    
    .input-field {
        margin-bottom: 8px;
    }
}

@media (max-width: 300px) {
    .container {
        background: url('./assets/img/background.jpg') no-repeat center center fixed; /* Changer l'image pour les petits écrans */
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
        height: auto;
        box-shadow: none;
        border: none;
    }
    
    .box {
        max-width: 100%;
        max-height: auto;
        padding: 5px;
        margin-bottom: 5px;
    
    }
    
    h2 {
        font-size: 16px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        width: 90%;
    }
    
    .heures, .date, .message {
        font-size: 20px; 
        margin-bottom: 5px;
    }
    
    .submit, button {
        font-size: 10px;
        padding: 4px;
    }
    
    .input {
        font-size: 10px;
        padding: 4px;
    }
    
    .input-field {
        margin-bottom: 5px;
    }
}
